.comment__author {
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  color: #FFF;
  margin: 0;
  padding: 0;
  width: fit-content;
  order: 3;
  text-align: center;
}


@media screen and (max-width: 768px) {
  .comment__author {
    order: 2;
  }
}
