.cover__subtitle {
  max-width: 340px;
  margin: 0;
  margin-top: 134px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: #FFF;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    margin-top: 181px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 17px;
    max-width: 250px;
    margin-top: 7px;
    margin-bottom: 28px;
    min-height: 20%;
  }
}
