@import url(./__item/video__item.css);
@import url(./__icon-play/video__icon-play.css);
@import url(./__duration/video__duration.css);
@import url(./__title/video__title.css);
@import url(./__subtitle/video__subtitle.css);
@import url(./__item-bg/video__item-bg.css);
@import url(./__list/video__list.css);
@import url(./__list-item/video__list-item.css);

.video {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 102px 128px 0;
  max-width: 1184px;
  margin: auto;
}

@media screen and (max-width: 1280px) {
  .video {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .video {
    padding-top: 110px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 425px) {
  .video {
    padding-top: 73px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
