@import url(./__list/header__list.css);
@import url(./__lang/header__lang.css);
@import url(./__list-item/header__list-item.css);
@import url(./__lang/_active/header__lang_active.css);


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 0;
  padding-right: 128px;
  padding-left: 128px;
  max-width: 1440px;
  margin: auto;
}

@media screen and (max-width: 1280px) {
  .header {
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding-right: 16px;
    padding-left: 16px;
  }
}
