.video__duration {
  font-size: 12px;
  line-height: 13px;
  font-weight: 500;
  letter-spacing: 0.3em;
  color: #FFF;
  max-height: 12px;
  margin: auto 0 12px 30px;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .video__duration {
    letter-spacing: 0.3em;
    margin-left: calc(20% - 44px);
  }
}
