.lead__image {
  width: 100%;
  margin: 67px auto 0;
  display: block;
}

.lead__image:hover {
  background-color: #C4C4C4;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .lead__image {
    margin-top: 33px;
  }
}
