.video__icon-play {
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .video__icon-play {
    margin-top: 25px;
    margin-left: 25px;
    height: 20%;
  }
}

@media screen and (max-width: 425px) {
  .video__icon-play {
    margin-top: 6.4vw;
    margin-left: 6.4vw;
  }
}
