@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__cover-bg/cover__cover-bg.css);
@import url(./__wrapper/cover__wrapper.css);

.cover {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: calc(50% - 592px);
  padding-right: calc(50% - 592px);
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding-left: 0;
    padding-right: 0;
  }
}
