.video__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.07;
  color: #FFF;
  text-align: start;
  margin: 18px 0 30px 30px;
}

@media screen and (max-width: 1024px) {
  .video__subtitle {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 768px) {
  .video__subtitle {
    margin-top: 12px;
    margin-left: 24px;
    margin-bottom: 24px;
  }
}


@media screen and (max-width: 425px) {
  .video__subtitle {
    margin-top: 4px;
    margin-left: calc(20% - 44px);
  }
}
