.video__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.07;
  color: #FFF;
  text-align: start;
  margin: 0 0 0 30px;
}

@media screen and (max-width: 768px) {
  .video__subtitle {
    margin-top: 12px;
  }
}


@media screen and (max-width: 425px) {
  .video__subtitle {
    margin-top: 0;
  }
}
