.video__list-item {
  list-style: none;
  margin-right: 18px;
  position: relative;
  flex: 1;
  display: flex;
}

.video__list-item:last-of-type {
  margin: 0;
}

@media screen and (max-width: 425px) {
  .video__list-item {
    min-width: 250px;
    margin: 0;
  }
}
