@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__url/place__url.css);
@import url(./__website/place__website.css);
@import url(./__list-item/place__list-item.css);
@import url(./__paragraph-list/place__paragraph-list.css);
@import url(./__paragraph-item/place__paragraph-item.css);

.place {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 72px;
}

@media screen and (max-width: 1024px) {
  .place {
    padding-top: 82px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    padding-top: 89px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    padding-top: 60px;
  }
}
