@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__list/footer__list.css);
@import url(./__list-item/footer__list-item.css);

.footer {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  padding-top: 160px;
  padding-left: 128px;
  padding-right: 128px;
  padding-bottom: 48px;
  max-width: 1184px;
  margin: auto;
}

@media screen and (max-width: 1280px) {
  .footer {
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-right: 89px;
    padding-left: 89px;
    padding-top: 126px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 102px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 32px;
  }
}
