.place__url {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.667;
  color: #FFF;
  margin: 0;
}

.place__url:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .place__url {
    font-size: calc(2.34vw);
  }
}
